.models_page {
  min-height: 100vh;
  

  background: linear-gradient(180deg, #4d4d4d, #cccccc);
  text-align: center;
}

.models_page_title:first-letter {
  text-transform: uppercase;
}

.models_page_custom_select_wrapper {
  min-width: 180px;
  margin: 0 15px;
}


.models_page_type_name {
  color: #478CBF;
  text-shadow: 2px 2px 4px #7E9EC9;
}

.models_page_img {
  margin-bottom: 70px;
}

.models_page_description {
  margin: 0 auto 60px;
  max-width: 730px;
}

.models_page_description p {
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 1.5;
}



/* pagination */
.ul_pages {
  display: flex;
  justify-content: center;

  padding-top: 16px;
  margin: 1rem auto;
  height: 55px;

  color: var(--colors-text);
}

.ul_pages a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.active_page {
  padding: 1rem;

  font-size: 1rem;
  font-weight: 700;
  color: #478CBF;
  text-shadow: 4px 4px 8px #478CBF;
}

.list_page {
  margin: 4px;
  padding: 1rem;

  color: #4D4D4D;
  font-size: 1rem;
  font-weight: 700;
  text-shadow: 4px 4px 8px #eee;
}

/* ---pagination */