.slider {
  position: relative;
  height: 500px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 320px;

  animation: fadeIn 1s ease-in-out;
  object-fit: cover;
  object-position: center;
}

/* img load sign */
.slider_loading_sign {
  font-size: 3rem;
  position: absolute;

  animation: scaleUpDown 1s infinite;
}

@keyframes scaleUpDown {
  0% {
    font-size: 1rem;
  }

  75% {
    font-size: 4rem;
  }

  100% {
    font-size: 3rem;
  }
}

/* ---img load sign */
.left_arrow,
.right_arrow {
  position: absolute;
  top: 45%;

  font-size: 3rem;
  color: #eee;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.right_arrow {
  right: 230px;
}

.left_arrow {
  left: 230px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media (max-width: 1140px) {

  .image {
    width: 100%;
    height: 280px;
    position: relative;

    animation: fadeIn 1s ease-in-out;
    object-fit: cover;
    object-position: center;
  }

  .left_arrow,
  .right_arrow {
    top: 40%;
    font-size: 4rem;
    color: #4d4d4d;
  }

  .right_arrow {
    right: 20px;
  }

  .left_arrow {
    left: 20px;
  }
}

@media (max-width: 760px) {

  .left_arrow,
  .right_arrow {
    top: 45%;
    font-size: 2rem;
    color: #eee;
  }

  .right_arrow {
    right: 10px;
  }

  .left_arrow {
    left: 10px;
  }

}